<div class="container">
    <div class="card">
        <div class="card-header">
            {{title}}
        </div>
        <div class="card-body m-0">
            <form>
                <div class="form-group row">
                    <label for="id" class="col-form-label col-sm-2">Id</label>
                    <div class="col-sm-6">
                        <input type="number" class="form-control" name="id" [(ngModel)]="items.id">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="description" class="col-form-label col-sm-2">Description</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="description" [(ngModel)]="items.description">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="category">Item Category</label>
                    <select 
                        name="category" 
                        id="category" 
                        class="form-control"
                        [(ngModel)]="items.category.id">
                        <option *ngFor="let category of categories" [value]="category.id">{{ category.description }}</option>
                    </select>
                </div>
                <div class="form-group row">
                    <label for="price" class="col-form-label col-sm-2">Price</label>
                    <div class="col-sm-6">
                        <input type="number" class="form-control" name="price" [(ngModel)]="items.price.price">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="stock" class="col-form-label col-sm-2">Stock</label>
                    <div class="col-sm-6">
                        <input type="number" class="form-control" name="stock" [(ngModel)]="items.stock.quantity">
                    </div>
                </div>
                <button class="btn btn-success" role="button" (click)="create()" *ngIf="actionValue=='/items/form' else elseBlock">Register</button>
                <ng-template #elseBlock>
                    <button class="btn btn-warning" role="button" (click)="update()">Update</button>
                </ng-template>
            </form>
        </div>
    </div>
</div>
