<app-header></app-header>
<app-nav></app-nav>
<div class="container content">
    
<h2>Categories</h2>

<button class="btn btn-success" type="button" [routerLink]="['/category/form']"><fa-icon [icon]="['fas', 'plus']"></fa-icon> New</button> 

<!-- <button mat-button>boton material</button> -->


<table id="myTable" class="table table-striped">
  <thead>
      <tr>
        <th style="width:10%">#</th>
        <th style="width:70%">Description</th>
        <th style="width:20%">Actions</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let category of categories; let i=index">
            <td>{{category.id}}</td>
            <td>{{category.description}}</td>
            <td with="20">
              <button type="button" name="button" class="btn btn-primary" [routerLink]="['/category/form/', category.id]"><fa-icon [icon]="['fas', 'pencil']"></fa-icon> Edit</button>
           
              <button type="button" name="button" class="btn btn-danger" (click)="delete(category)"><fa-icon [icon]="['fas', 'trash']"></fa-icon> Delete</button>
            </td>
        </tr>
    </tbody>
</table>

</div>

<app-footer></app-footer>

