<app-nav></app-nav>
<div class="container content">
    
<h2>Categories</h2>

<button class="btn btn-success" type="button" [routerLink]="['/category/form']"><fa-icon [icon]="['fas', 'plus']"></fa-icon> New</button> 

<!-- <button mat-button>boton material</button> -->

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

  <table>
  <thead>
      <tr>
        <th style="width:10%">#</th>
        <th style="width:70%">Description</th>
        <th style="width:20%">Actions</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let category of categories; let i=index">
            <td>{{category.id}}</td>
            <td>{{category.description}}</td>
            <td with="20">
              <button type="button" name="button" class="btn btn-primary" [routerLink]="['/category/form/', category.id]"><fa-icon [icon]="['fas', 'pencil']"></fa-icon> Edit</button>
           
              <button type="button" name="button" class="btn btn-danger" (click)="delete(category)"><fa-icon [icon]="['fas', 'trash']"></fa-icon> Delete</button>
            </td>
        </tr>
    </tbody>
</table>

</div>

<app-footer></app-footer>


