 <!-- Fixed navbar -->
 <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">App Invoice</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Accounts Receivable <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/billing">Billing</a></li>
            <li><a routerLink="/customers">Customers</a></li>
            <li><a routerLink="/sellers">Sellers</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Accounts Payable <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/suppliers">Suppliers</a></li>
            <li><a routerLink="/shopping">Shopping</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Finance <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/bank">Bank</a></li>
            <li><a routerLink="/taxes">Taxes</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Inventory <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/items">Items</a></li>
            <li><a routerLink="/category">Category</a></li>
          </ul>
        </li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!userLoginOn">
          <a routerLink="/iniciar-sesion">Log in</a>
        </li>
        <li><a (click)="logout()"  routerLink="/home">Logout</a> </li>
        <!-- <li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li> -->
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<!-- <a class="nav-link active" routerLink="/category">Categories</a> -->
<!-- <a class="nav-link active" routerLink="/">Portfolio</a> -->




