<app-header></app-header>
<app-nav></app-nav>
<!-- <p *ngIf="!userLoginOn" class="alert alert-danger">Usuario NO autenticado</p> -->
<!-- <p *ngIf="userLoginOn" class="alert alert-success">Usuario Autenticado</p> -->

<div class="container content">
    <br>
    <h1>{{username}} aqui</h1>
        <div class="container py-5 text-center">
            <h1 class="display-4 font-weight-bold">App Invoice</h1>
            <p class="font-italic mb-0">Example of App Invoice with:  <fa-icon [icon]="['fab', 'angular']"></fa-icon> Angular Frontend + <fa-icon [icon]="['fab', 'java']"></fa-icon> Spring Boot Backend + Security JWT Token</p>
        </div>

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
      <h1>Navbar example</h1>
      <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
      <p>To see the difference between static and fixed top navbars, just scroll.</p>
      <p>
        <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
      </p>
    </div>

  </div> <!-- /container -->
<app-footer></app-footer>